* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #3b8a2f;
}

.layer {
    background-color: #A8C564;
    padding: 0.5px;
    border-radius: 20px;
}

/* style navbar */
.navbar {
    border-bottom: 3px solid green;
    opacity: 0.8;
    background-color: #D2EA9B;
    font-size: 17px;
    font-weight: 400;
}

.navbar .container a {
    color: #005599;
}

.navbar .container a:hover {
    border-bottom: 2px solid #0879d5;
    color: #0879d5;
}
/* end of style navbar */

/* video background */
:root {
    --black-color: #000000;
}

header {
    position: relative;
    background: var(--black-color);
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
}

header .container {
    position: relative;
    z-index: 2;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    color: #F3FAE3;
    animation: title 2s ease-in-out 0s 1 normal forwards;
}

@keyframes title {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.subtitle {
    width: 100%;
    color: #F3FAE3;
}
/* end of video background */

.card-bg {
    background-color: #F3FAE3;
}

.card-title {
    color: #005599;
}

/* services section */
.services {
    background-color: #3b8a2f;
    color: #F3FAE3;
    height: auto;
    padding: 70px 0;
    height: auto;
}

aside {
    width: 100%;
    height: auto;
}

.clip-path {
    clip-path: ellipse(45% 50% at 50% 50%);
    width: 100%;
}

.travel-logo {
    border-radius: 10px;
    width: 60%;
    margin-left: 200px;
}

/* tick icon */
.services .tignes-text, .check::before {
    content: '\2713';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 900;
    position: absolute;
    background-color: #F3FAE3;
    color: #008ed6;
    margin-top: 9px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.paragraph {
    width: 100%;
    text-align: start;
}

.text {
    margin-left: 8%;
    text-align: start;
    width: 100%;
}
/* end of services section */

/* Contact form */
.contact-header {
    display: flex;
    justify-content: center;
}

.contact-section {
    margin: 50px 100px;
    background-color: #A8C564;
    padding: 50px;
    border-radius: 20px;
}

.input-bg {
    background-color: #F3FAE3;
}

/* tignas, morzine and la-tania pages */
.slider {
    width: 40%;
    margin: 60px auto;
}

.carousel-item {
    height: 370px;
}

.description {
    color: #3e492c;
    height: auto;
    padding: 50px 0;
}
/* end of tignas, morzine and la-tania pages */

footer {
    background-color: #a8c564;
    text-underline-offset: 3px;
}



/* Tablet size media query */
@media (min-width: 768px) and (max-width: 1400px) {
    
     header {
        background-image: url('media/video/mobile/city.jpg');
        background-color: #000000;
        background-repeat: no-repeat;
        height: 100vh;
    }

    header video {
        display: none;
    }
    
    .title {
        display: flex;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100%;
        color: #ffffff;
    }

    .subtitle {
        width: 100%;
        color: #ffffff;
    }
    
    .services {
        padding: 30px 0;
    }
    
    .travel-logo {
        border-radius: 10px;
        width: 100%;
        margin: 120px auto;
    }
    
    .services .tignes-text, .check::before {
        content: '\2713';
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 900;
        position: absolute;
        background-color: #F3FAE3;
        color: #008ed6;
        margin-top: 9px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        }

    .paragraph {
        width: 100%;
        text-align: start;
        }

    .text {
        margin-left: 12%;
        text-align: start;
        width: 90%;
        }

    /* contact section in tablet size */
    .contact-header {
        display: flex;
        justify-content: center;
        }

    .contact-section {
        margin: 50px 30px;
        }
    /* end of contact section in tablet size */

    /* tignas, morzine and la-tania pages in tablet size */
    .slider {
        width: 45%;
        margin: 60px auto;
        }

    .carousel-item {
        height: 270px;
        }

    .text-one {
        width: 90%;
        }
    /* end of tignas, morzine and la-tania pages in tablet size */
}
/* End of Tablet size media query */

/* Mobile size media query */
@media only screen and (max-width: 600px) {
    
     header {
        background-image: url('media/video/mobile/city.jpg');
        background-color: #000000;
        background-repeat: no-repeat;
        height: 100vh;
    }

    header video {
        display: none;
    }
    
    .title {
        display: flex;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100%;
        color: #ffffff;
    }

    .subtitle {
        width: 100%;
        color: #ffffff;
    }

    .services {
        color: #ffffff;
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
    
    .travel-logo {
        border-radius: 10px;
        width: 100%;
        margin: 20px auto;
    }
    
    .paragraph {
        text-align: start;
        }

    .text {
        margin-left: 12%;
        text-align: start;
        width: 87%;
    }

    /* Contact form */

    .contact-section {
        margin: 50px 15px;
    }

    /* tignas, morzine, la-tania page for mobile size */

    .slider {
        width: 80%;
        margin: 60px auto;
    }

    .carousel-item {
        height: 235px;
    }

}
/* End of Mobile size media query */

/* media query works when touch screen is detected */
@media (pointer: coarse) and (hover: none) {
    header {
        background-image: url('media/video/mobile/city.jpg');
        background-color: #000000;
        background-repeat: no-repeat;
        height: 100vh;
    }

    header video {
        display: none;
    }
    
    .title {
        display: flex;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100%;
        color: #ffffff;
    }

    .subtitle {
        width: 100%;
        color: #ffffff;
    }
}